# PSET4

In [72]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn import *

In [73]:
X =  pd.read_csv('X.csv')
y = pd.read_csv('y.csv')
test = pd.read_csv('test.csv')

In [74]:
X

          id                                               news
0      68007  “Витамин” дуугаараа залууст танигдаж байсан за...
1      18063  УИХ-ын гишүүн, “Шударга ёс” эвслийн бүлгийн да...
2      22759  УИХ-ын дарга захирамж гаргаж, хаврын чуулганы ...
3      48958  Нэгдүгээр курсийн оюутнууд нийтийн тээврээр зо...
4      26875  Жүдо бөхийн дэлхийн аварга шалгаруулах тэмцээн...
...      ...                                                ...
64306  38455  Дүрж хандалдаг цай уух дуртай хүмүүст зориулж,...
64307  69859  Өнгөрсөн долоо хоногийн Box office-ийг Lee Dan...
64308  22790  “Манай улсад татвар төлөгчдийн хүчирхэг арми х...
64309  31133  Нийслэлийн Засаг даргын мөрийн хөтөлбөрийн зор...
64310  39429  УИХ - ын ээлжит чуулган Засгийн газрын бямба г...

[64311 rows x 2 columns]

In [75]:
y

          id       label
0      68007  урлаг соёл
1      18063     улс төр
2      22759     улс төр
3      48958   боловсрол
4      26875       спорт
...      ...         ...
64306  38455   технологи
64307  69859  урлаг соёл
64308  22790     улс төр
64309  31133       спорт
64310  39429     улс төр

[64311 rows x 2 columns]

In [76]:
y['label'] = pd.Categorical(y['label'])

In [77]:
category_list = y['label'].unique().to_list()

In [78]:
category_codes = y['label'].cat.codes.unique()

In [226]:
df23 = pd.DataFrame(category_list, columns=['name'])
df24 = pd.DataFrame(category_codes, columns = ['code'])

In [231]:
cat = pd.merge (df23[['name']], df24[['code']], left_index=True, right_index=True)

In [232]:
cat

           name  code
0    урлаг соёл     5
1       улс төр     4
2     боловсрол     1
3         спорт     2
4   эдийн засаг     7
5  байгал орчин     0
6         хууль     6
7    эрүүл мэнд     8
8     технологи     3

In [79]:
y['label'] = y['label'].cat.codes

In [80]:
y

          id  label
0      68007      5
1      18063      4
2      22759      4
3      48958      1
4      26875      2
...      ...    ...
64306  38455      3
64307  69859      5
64308  22790      4
64309  31133      2
64310  39429      4

[64311 rows x 2 columns]

In [81]:
test

          id                                               news
0      59144  МУИС ирэх хичээлийн жилийн бакалаврын хөтөлбөр...
1      43387  Бууз, банш 5200-7500 төгрөг Сүлжээ дэлгүүрүүдэ...
2      18378  УИХ-ын Хууль зүйн байнгын хорооны хурал өнөөдө...
3      20385  УИХ дахь МАН-ын бүлэг хуралдаанаа өндөрлөөд ба...
4      75181  ХӨСҮТ-ийн Тандалт судалгааны албаны өнгөрсөн д...
...      ...                                                ...
11345   9764  Орчин үеийн стандарт шаардлагыг хангасан олон ...
11346  35076  LED гэрэлтүүлэгтэй телевизийн технологи өндөр ...
11347  64006  Израйль, Йерусалим, морь унаж сургагч Эстер /E...
11348   3538  Дурлалт хайртуудаар бэлэг тэмдгээ хийсэн гэгээ...
11349  65005  Нийслэлийн удирдлагын зөвлөлийн ээлжит хуралда...

[11350 rows x 2 columns]

# Stop words

In [156]:
vectorizer = feature_extraction.text.CountVectorizer(stop_words='english')

In [157]:
count_vect = vectorizer.fit_transform(X['news'])

In [84]:
count_vect1 = vectorizer.transform(test['news'])

In [86]:
tfidf = feature_extraction.text.TfidfVectorizer()

In [181]:
tfidf_vect = vectorizer.fit_transform(X['news'])

In [243]:
tfidf_vect1 = vectorizer.transform(test['news'])

In [ ]:
vocab = create_vocabulary(it_train)
vectorizer = vocab_vectorizer(vocab)
dtm_train = create_dtm(it_train, vectorizer)

# define tfidf model
tfidf = TfIdf$new()
# fit model to train data and transform train data with fitted model
dtm_train_tfidf = fit_transform(dtm_train, tfidf)
# tfidf modified by fit_transform() call!
# apply pre-trained tf-idf transformation to test data
dtm_test_tfidf = create_dtm(it_test, vectorizer)
dtm_test_tfidf = transform(dtm_test_tfidf, tfidf)

In [90]:
hashing = feature_extraction.text.HashingVectorizer()

In [91]:
hashing_vect = hashing.fit_transform(X['news'])

In [92]:
hashing_vect1 = hashing.fit_transform(test['news'])

In [186]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(tfidf_vect, 
                                                                    y['label'], 
                                                                    test_size=0.1764861, 
                                                                    random_state=42, 
                                                                    stratify=y['label'])

In [187]:
svm = linear_model.SGDClassifier()

In [188]:
svm.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [189]:
svm_pred = svm.predict(test1)

In [190]:
svm_f1 = metrics.f1_score(y_test, svm_pred, average='micro')

In [191]:
print(svm_f1)

0.12607929515418503

In [193]:
df = pd.DataFrame(svm_pred, columns=['label'])

In [233]:
finala23 = pd.merge (test[['id']], df[['label']], left_index=True, right_index=True)
finala23.to_csv("finala71.csv", index=None, sep=',', header=True)

In [235]:
cat

           name  code
0    урлаг соёл     5
1       улс төр     4
2     боловсрол     1
3         спорт     2
4   эдийн засаг     7
5  байгал орчин     0
6         хууль     6
7    эрүүл мэнд     8
8     технологи     3

In [241]:
finala23 = finala23.replace({5: 'урлаг соёл'})
finala23 = finala23.replace({4: 'улс төр'})
finala23 = finala23.replace({1: 'боловсрол'})
finala23 = finala23.replace({2: 'спорт'})
finala23 = finala23.replace({7: 'эдийн засаг'})
finala23 = finala23.replace({0: 'байгал орчин'})
finala23 = finala23.replace({6: 'хууль'})
finala23 = finala23.replace({8: 'эрүүл мэнд'})
finala23 = finala23.replace({3: 'технологи'})

In [238]:
finala23.to_csv("finala77.csv", index=None, sep=',', header=True)

In [199]:
forest = ensemble.RandomForestClassifier(n_jobs=-1,verbose=3)

In [200]:
forest.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min

building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  6.4min finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=3,
                       warm_start=False)

In [201]:
forest_pred = forest.predict(X_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.9s finished

In [214]:
forest_pred = forest.predict(test1)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    1.0s finished

In [215]:
forest_f1 = metrics.f1_score(y_test, forest_pred, average='micro')

In [216]:
print(forest_f1)

0.13189427312775331

In [217]:
df = pd.DataFrame(forest_pred, columns=['label'])

In [219]:
finala23 = pd.merge (test[['id']], df[['label']], left_index=True, right_index=True)
finala23.to_csv("finala75.csv", index=None, sep=',', header=True)

In [204]:
xgboost = xgb.XGBClassifier(n_jobs=-1)

In [205]:
xgboost.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=-1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [206]:
xgboost_pred = xgboost.predict(X_test)

In [211]:
xgboost_pred = xgboost.predict(test1)

In [239]:
df1 = pd.DataFrame(xgboost_pred, columns=['label'])

In [240]:
finala23 = pd.merge (test[['id']], df[['label']], left_index=True, right_index=True)

In [242]:
finala23.to_csv("finala78.csv", index=None, sep=',', header=True)

In [212]:
xgboost_f1 = metrics.f1_score(y_test, xgboost_pred, average='micro')

In [213]:
print(xgboost_f1)

0.12969162995594713

In [209]:
print('SVM F1 Score: ', svm_f1)
print('Random Forest F1 Score: ', forest_f1)
print('XGBoost F1 Score: ', xgboost_f1)

SVM F1 Score:  0.12607929515418503
Random Forest F1 Score:  0.8694273127753304
XGBoost F1 Score:  0.8652863436123348

In [244]:
xgboost_pred

array([1, 7, 4, ..., 0, 5, 0], dtype=int8)